<h1><%= @list.name %></h1>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.comment %></li>
    <li><%= bookmark.movie.title %></li>
    <li><%= bookmark.list.name %></li>
  <% end %>
</ul>

<p><%= link_to "Back to home", lists_path %></p>
